<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hospital details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Hospital</h1>
    <form action="#" th:action="@{/hospitals}" th:object="${/hospitals}" method="post">
    	<p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Description: <input type="text" th:field="*{description}" /></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
</body>
</html>